name: MSBuild

on: [push, pull_request]

env:
  SOLUTION_NAME: ResizeGfx
  PROJECT_NAME: ResizeGfx

jobs:
  build:
    name: Build ${{ matrix.platform }}
    runs-on: windows-latest
    strategy:
      matrix:
        platform: [x64, x86]

    steps:
    - uses: actions/checkout@v2
    - uses: microsoft/setup-msbuild@v1
    - run: nuget restore ${{ env.SOLUTION_NAME }}.sln
    - run: msbuild /m '/p:Configuration=Release;Platform="${{ matrix.platform }}"' ${{ env.SOLUTION_NAME }}.sln
    - name: Upload artifact (x64)
      uses: actions/upload-artifact@v2
      if: ${{ matrix.platform }} == 'x64'
      with:
        name: ${{ env.SOLUTION_NAME }}-${{ matrix.platform }}-${{ github.sha }}
        path: ${{ matrix.platform }}\Release
    - name: Upload artifact (x86)
      uses: actions/upload-artifact@v2
      if: ${{ matrix.platform }} == 'x86'
      with:
        name: ${{ env.SOLUTION_NAME }}-${{ matrix.platform }}-${{ github.sha }}
        path: Release
